<router-outlet></router-outlet>
<section>
    <div class="box">
        <div class="form">
    <h2>Login</h2>
        <form>
           <div class="inputbox">
           <input type="text" placeholder="Username">
           <img src="../assets/media/user.png" alt="">
           </div>
           <div class="inputbox">
           <input type="text"  placeholder="Password">
           <!-- <img src="../assets/media/user.png" alt=""> -->
           </div>
             <label for="Remember Me">
             <input type="checkbox">Remember Me</label>
                 <div class="inputbox">
                 <input type="submit"  value="Login">
                 </div>
        </form>
         <p>Forget <a href="#">Password</a></p>
         <p>SignUp <a href="#">Google</a></p>
        </div>
    </div>
</section>